$color-brand:#6190E8FF;
.detail-wrap {
  word-break: break-all;
  word-wrap: break-word;
  padding: 0 0 calc(100px);
  padding: 0 0 calc(100px + constant(safe-area-inset-bottom));
  padding: 0 0 calc(100px + env(safe-area-inset-bottom));
  .header-wrap {
    position: relative;
    padding: 40px 34px 25px;
    margin-bottom: 40px;
    .title {
      margin-bottom: 10px;
      line-height: 60px;
      font-size: 36px;
      font-weight: 600;
      color: #333;
    }
    .subtitle {
      margin-bottom: 20px;
      font-size: 24px;
      color: #999;
    }
    .number {
      margin-right: 30px;
    }
    .money-wrap {
      color: #333;
      .money {
        font-size: 30px;
        font-weight: 500;
      }
    }
    .original-link {
      font-size: 24px;
      color: #1890ff;
    }
    .share-btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 10px 30px;
      width: 170px;
      line-height: 45px;
      color: #fea100;
      font-size: 30px;
      text-align: center;
      border: 0;
      .at-icon {
        margin-bottom: 5px;
        font-size: 34px;
      }
    }
  }
  .notice-tag,
  .noticetype-tag {
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 10px;
    padding: 7px 22px;
    height: 37px;
    color: #93adee;
    background: #edf5fe;
  }
  .noticetype-tag {
    color: #fb9e3a;
    background: #fff8ea;
  }
  .content-wrap {
    // margin: 25px 30px 0;
    padding: 0 30px 20px;
    font-size: 28px;
    color: #333;
    .block {
      margin-bottom: 25px;
    }
    .title {
      position: relative;
      margin-bottom: 23px;
      padding-left: 25px;
      color: #6a6a77;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.5;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -20px;
        width: 4px;
        height: 40px;
        background-color: #78A4F4FF;
        box-shadow: 0 7px 12px 0 rgba(97, 144, 232, 0.2);
        border-radius: 1px;
      }
    }
    .no-vip-title {
      display: inline-block;
      font-size: 24px;
      color: #999;
    }
    .related-notice {
      padding: 10px 0;
      color: $color-brand;
      &.no-vip {
        color: #999;
      }
    }
    .shop-text {
      color: $color-brand;
    }
  }

  .fixed-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 800;
    padding: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    box-sizing: content-box;
    .btn-icon {
      margin: -8px 10px 0 0;
    }
    // background: $color-brand;
  }
}
